* {
  unicode-bidi: plaintext;
}

@font-face {
  font-family: Alexandria;
  src: url(/fonts/Alexandria-VariableFont_wght.ttf);
  font-display: swap;
}

@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.invertable { filter: invert(0); }
  }
}

body[theme="dark"] { @include dark-appearance; }

@media (prefers-color-scheme: dark) {
  body[theme="auto"] { @include dark-appearance; }
}
html, body { background: white; }

html { height: 100%; }

body {
  color: black;
  font-family: Alexandria, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
  font-weight: 300;
}

.post-meta {
  text-align: right;
  margin: 0
}

*:target {
  background: yellow;
  color: #212121;
}

.page {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '////////' }
  &:after { content: attr(content) '////////' }
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.go-back {
  font-family: monospace;
  font-weight: bold;
  margin:0;
  a {
    text-decoration: none;
  }
}

.footnote-definition {
  padding: 0 1rem;
  p {
    display: inline;
  }
}

nav { text-align: center; }
footer { margin-top: 4rem; }

@media print {

  header p { display: none; }
  footer p { display: none; }
  header h1 { text-align: center; }
  body { font-size: 12px; }
  main a { color: black; text-decoration: none; }
  h2 { margin-top: 2rem; margin-bottom: 1rem; }
  h3, h4, h5, h6 { margin-top: 0rem; margin-bottom: 0rem; }
  .page { max-width: 720px; }
  nav { display: none; }

}

.taxonomies, .webring {
  font-family: monospace;
  text-align: center;

  a {
    text-decoration: none;
  }
}

.webring a { font-weight: bold; }

.search-container {
  display: inline-block;
  position: relative;
  width: 300px;

  input {
    width: 100%;
    border-style: none none solid none;

    &:focus {
      outline: none;
    }
  }
}

.search-results {
  display: none;
  position: absolute;
  background: white;
  color: black;
  padding: 1rem;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  max-height: 500px;
  overflow: auto;
  width: 150%;
  right: 0;

  &__items {
    list-style: none;
  }

  li {
    margin-top: 1rem;
    border-bottom: 1px solid #ccc;
    font-size: 0.9rem;

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__item {
    margin-bottom: 1rem;

    a {
      font-size: 1.2rem;
      display: inline-block;
      margin-bottom: 0.5rem;
    }
  }
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  background-color: black;
  color: white;
  padding: 0.1rem 0;
}

pre {
  padding: 0 1rem;
  background-color: black !important;
  color: white !important;

  code {
    display: block;
    overflow: auto;
    padding: 1rem 0;
  }
}

pre table td {
  padding: 0;
}

pre table td:nth-of-type(1) {
  text-align: right;
  user-select: none;
  padding-inline-end: 1rem;
}

pre table, pre tr, pre td {
  border: none;
}

.code-label {
  font-weight: bold;
  font-style: italic;
  font-family: monospace;
  margin-bottom: -0.75rem;
  display: block;
  padding: 0 1rem;
  a {
    text-decoration: none;
  }
}

.gallery {
  text-align: center;
  a {
    display: inline-block;
    line-height: 0px;
  }
  img {
    display: inline-block;
    margin: 5px;
  }
}