{% extends "base.html" %}

{% block header %}
<p class="go-back"><a href="..">&larr;</a>{% if config.build_search_index %} / {% include "partials/searchbox.html" %}{% endif %}</p>
<h1>{{ taxonomy.name }}</h1>
{% endblock header %}

{% block content %}
<p>
{% for term in terms %}
<a href="{{ term.permalink | safe }}">#{{ term.name }}</a>[{{ term.pages | length }}]
{% endfor %}
</p>
{% endblock content %}