<div class="gallery">
{% for asset in page.assets -%}
    {% if asset is matching("[.](jpg|png)$") %}
    {% set filename = asset | split(pat="/") | last %}
    {% set image = resize_image(path=asset, width=200, height=200) %}
    <a href="{{ page.path ~ filename }}" target="_blank"><img src="{{ image.url }}" /></a>
    {%- endif %}
{%- endfor %}
</div>