{% extends "base.html" %}
{% block title %}Not found{% endblock title %}
{% block header %}
<p><a href="/">&larr;</a>{% if config.build_search_index %} / {% include "partials/searchbox.html" %}{% endif %}</p>
<h1>404</h1>
{% endblock header %}