{% extends "base.html" %}

{% block content %}
{{ section.content | safe }}

{% if config.extra.lists_limit %}
{% set limit = config.extra.lists_limit %}
{% endif %}

{% set projects_list = get_page(path="projects.md") %}
<ul>
    <li><a href="/projects">{{ projects_list.title }}</a>
        <ul>
        {% if not config.extra.lists_limit %}{% set limit = projects_list.extra.projects | length %}{% endif %}
        {% for project in projects_list.extra.projects | slice(end=limit) %}
            <li><a href="/projects#{{ project.name | slugify }}">{{ project.name }}</a>
                {% if project.description %}: {{ project.description }}{% endif %}
            </li>
        {% endfor %}
        {% if projects_list.extra.projects | length > limit %}
            <li><a href="/projects">more..</a></li>
        {% endif %}
        </ul>
    </li>
</ul>

{% for subsection_path in section.subsections %}
{% set subsection = get_section(path=subsection_path) %}
<ul>
    <li><a href="{{ subsection.permalink | safe }}">{{ subsection.title }}</a>
        <ul>
        {% if subsection.subsections %}
        {% for subsubsection_path in subsection.subsections %}
        {% set subsubsection = get_section(path=subsubsection_path) %}
            <li><a href="{{ subsubsection.permalink | safe }}">{{ subsubsection.title }}</a>
                <ul>
                {% if not config.extra.lists_limit %}{% set limit = subsubsection.pages | length %}{% endif %}
                {% for page in subsubsection.pages | slice(end=limit) %}
                    <li>
                        {% if page.date %}{{ page.date }} &mdash; {% endif %}<a href="{{ page.permalink | safe }}">{{ page.title }}</a>{% if page.updated %} <em>(updated: {{ page.updated }})</em>{% endif %}
                    </li>
                {% endfor %}
                {% if subsubsection.pages | length > limit %}
                    <li><a href="{{ subsubsection.permalink | safe }}">more..</a></li>
                {% endif %}
                </ul>
            </li>
        {% endfor %}
        {% endif %}
        {% if not config.extra.lists_limit %}{% set limit = subsection.pages | length %}{% endif %}
        {% for page in subsection.pages | slice(end=limit) %}
            <li>
                {% if page.date %}{{ page.date }} &mdash; {% endif %}<a href="{{ page.permalink | safe }}">{{ page.title }}</a>{% if page.updated %} <em>(updated: {{ page.updated }})</em>{% endif %}
            </li>
        {% endfor %}
        {% if subsection.pages | length > limit %}
            <li><a href="{{ subsection.permalink | safe }}">more..</a></li>
        {% endif %}
        </ul>
    </li>
</ul>
{% endfor %}
{% endblock content %}
