{% extends "base.html" %}

{% block header %}
<p class="go-back"><a href="..">&larr;</a>{% if config.build_search_index %} / {% include "partials/searchbox.html" %}{% endif %}</p>
{% if page.date %}
<p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date }}</time>
    {% if page.updated %}
    <br />
    updated: <time datetime="{{ page.updated }}">{{ page.updated }}</time>
    {% endif %}
</p>
{% endif %}
{% if page.extra.printable %}
<p class="post-meta"><a onclick="window.print()" href="#">Click to print this page</a></p>
{% endif %}
{% block extra_meta %}{% endblock extra_meta %}
<h1>{{ page.title }}</h1>
{% endblock header %}

{% block content %}
{{ page.content | safe }}
{% endblock content %}
