{% extends "base.html" %}

{% block header %}
<p class="go-back"><a href="..">&larr;</a>{% if config.build_search_index %} / {% include "partials/searchbox.html" %}{% endif %}</p>
<h1>{{ page.title }}</h1>
{% endblock header %}

{% block content %}
{{ page.content | safe }}

<ul>
{% for project in page.extra.projects %}
    <li><a id="{{ project.name | slugify }}"{% if project.url %} href="{{ project.url | safe }}"{% endif %}>{{ project.name }}</a>
        <ul>
            {% if project.description %}
            <li>{{ project.description }}</li>
            {% endif %}
            <li>source:
            {% if project.sources %}
                {% for source in project.sources %}
                    <a href="{{ source.url | safe }}">{{ source.name }}</a>
                    {% if not loop.last %}/{% endif %}
                {% endfor %}
            {% else %}
                <em>WIP</em>
            {% endif %}
            </li>
            {% if project.license %}
            <li>license: <a href="{{ project.license.url | safe }}">{{ project.license.name }}</a></li>
            {% endif %}
        </ul>
    </li>
{% endfor %}
</ul>

{% endblock content %}
