{% extends "base.html" %}

{% block header %}
<p class="go-back"><a href="..">&larr;</a>{% if config.build_search_index %} / {% include "partials/searchbox.html" %}{% endif %}</p>
<h1>{{ section.title }}</h1>
{% endblock header %}

{% block content %}
{{ section.content | safe }}

{% for subsection_path in section.subsections %}
{% set subsection = get_section(path=subsection_path) %}
<ul>
    <li><a href="{{ subsection.permalink | safe }}">{{ subsection.title }}</a>
        <br />
        {{ subsection.description }}
        <ul>
        {% if config.extra.lists_limit %}
        {% set limit = config.extra.lists_limit %}
        {% else %}
        {% set limit = subsection.pages | length %}
        {% endif %}
        {% for page in subsection.pages | slice(end=limit) %}
            <li>
                {% if page.date %}{{ page.date }} &mdash; {% endif %}<a href="{{ page.permalink | safe }}">{{ page.title }}</a>
            </li>
        {% endfor %}
        {% if subsection.pages | length > limit %}
            <li><a href="{{ subsection.permalink | safe }}">more..</a></li>
        {% endif %}
        </ul>
    </li>
</ul>
{% endfor %}
<ul>
{% for page in section.pages %}
    <li>
        {% if page.date %}{{ page.date }} &mdash; {% endif %}<a href="{{ page.permalink | safe }}">{{ page.title }}</a>{% if page.updated %} <em>(updated: {{ page.updated }})</em>{% endif %}
        <br />
        {{ page.description }}
    </li>
{% endfor %}
</ul>
{% endblock content %}